body{
background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.titulo1{
	position: absolute;
	top: 5%;
	left: 33%;
	width: 33%;
	height: 10%;
	text-align: center;
	text-decoration: none;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.titulo1:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.re{
	position: absolute;
	font-size: 35px;
	left: 75%;
	top: 7%;
	color: #000000;
	font-family: impact;
	text-decoration: none;
	text-shadow: 3px 3px rgb(255,255,255);
}
.re:hover {
	font-size: 45px;
	color: #FF8032;
}
.tex1{
	position: absolute;
	font-size: 35px;
	left: 35.5%;
	top: 13%;
	color: #000000;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.cuadro1{
	position: absolute;
	top: 25%;
	left: 10%;
	width: 30%;
	height: 45%;
	text-align: center;
	text-decoration: none;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.cuadro1:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.cuadro2{
	position: absolute;
	top: 120%;
	left: 3%;
	width: 30%;
	height: 10%;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.cuadro2:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex2{
	position: absolute;
	font-size: 35px;
	left: 15%;
	top:  15%;
	color: #000000;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex3{
	position: absolute;
	font-size: 30px;
	left: 3%;
	top: 130%;
	color: #000000;
	font-family: buenas, cursive;
	text-shadow: 3px 3px rgb(255,255,255);
}
.cuadro3{
	position: absolute;
	top: 200%;
	left: 3%;
	width: 30%;
	height: 10%;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.cuadro3:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex4{
	position: absolute;
	font-size: 35px;
	left: 35%;
	top:  15%;
	color: #000000;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex5{
	position: absolute;
	font-size: 30px;
	left: 3%;
	top: 210%;
	color: #000000;
	font-family: buenas, cursive;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex6{
	position: absolute;
	font-size: 35px;
	left: 5%;
	top: 5%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex7{
	position: absolute;
	font-size: 35px;
	left: 5%;
	top: 30%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex8{
	position: absolute;
	font-size: 35px;
	left: 5%;
	top: 55%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex9{
	position: absolute;
	font-size: 35px;
	left: 5%;
	top: 80%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex10{
	position: absolute;
	font-size: 25px;
	left: 3%;
	top: 165%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex11{
	position: absolute;
	font-size: 25px;
	left: 3%;
	top: 235%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex12{
	position: absolute;
	font-size: 35px;
	left: 30%;
	top: 10%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex13{
	position: absolute;
	font-size: 30px;
	left: 3%;
	top: 315%;
	color: #000000;
	text-decoration: none;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex14{
	position: absolute;
	font-size: 25px;
	left: 3%;
	top: 350%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.cuadro4{
	position: absolute;
	top: 300%;
	left: 3%;
	width: 30%;
	height: 10%;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.cuadro4:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.cuadro5{
	position: absolute;
	top: 400%;
	left: 3%;
	width: 30%;
	height: 10%;
	background: #45AAFF;
	border-radius: 15px;
	border: black 5px solid;
	box-shadow: 5px 5px rgb(0,0,0);
}
.cuadro5:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex15{
	position: absolute;
	font-size: 35px;
	left: 40%;
	top: 15%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex16{
	position: absolute;
	font-size: 30px;
	left: 3%;
	top: 415%;
	color: #000000;
	text-decoration: none;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
}
.tex17{
	position: absolute;
	font-size: 25px;
	left: 3%;
	top: 450%;
	color: #000000;
	text-decoration: none;
	font-family: impact;
	text-shadow: 3px 3px rgb(255,255,255);
}
.bot1{
	position: absolute;
	top: 120%;
	left: 60%;
	height: 10%; 
	width: 20%;
	background: #45AAFF;
	border-radius: 50px;
	border: black 5px solid;
	box-shadow: 3px 3px rgb(0,0,0);
	
}
.bot1:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex18{
	position: absolute;
	font-size: 30px;
	left: 10%;
	top: 15%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex19{
	display: none;
}
.bot1:hover .tex19{
	position: absolute;
	font-size: 35px;
	left: 35%;
	top: 120%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex20{
	display: none;
}
.bot1:hover .tex20{
	position: absolute;
	font-size: 35px;
	left: 35%;
	top: 200%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.ima1{
	position: absolute;
	top: 135%;
	left: 45%;
	width: 35%;
	height: 55%;
	
}
.ima2{
	display: none;
}
.ima1:hover .ima2{
	position: absolute;
	left: 90%;
	top: 135%;
	width: 35%;
	height: 55%;
	border: black 5px solid;
	display: block;
}
.bot2{
	position: absolute;
	top: 300%;
	left: 60%;
	height: 10%; 
	width: 20%;
	background: #45AAFF;
	border-radius: 50px;
	border: black 5px solid;
	box-shadow: 3px 3px rgb(0,0,0);
	
}
.bot2:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex21{
	position: absolute;
	font-size: 30px;
	left: 18%;
	top: 15%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.ima3{
	display: none;
}
.bot2:hover .ima3{
	position: absolute;
	left: -20%;
	top: 225%;
	width: 150%;
	height: 250%;
	border: black 5px solid;
	display: block;

}
.bot3{
	position: absolute;
	top: 400%;
	left: 60%;
	height: 10%; 
	width: 20%;
	background: #45AAFF;
	border-radius: 50px;
	border: black 5px solid;
	box-shadow: 3px 3px rgb(0,0,0);
}
.bot3:hover {
	background-image: linear-gradient(to right, rgb(255, 128, 50), rgb(255, 24, 108));
}
.tex22{
	display: none;
}
.bot3:hover .tex22{
	position: absolute;
	font-size: 30px;
	left: 35%;
	top: 120%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex23{
	display: none;
}
.bot3:hover .tex23{
	position: absolute;
	font-size: 30px;
	left: 35%;
	top: 180%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex24{
	display: none;
}
.bot3:hover .tex24{
	position: absolute;
	font-size: 30px;
	left: 35%;
	top: 240%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex25{
	display: none;
}
.bot3:hover .tex25{
	position: absolute;
	font-size: 30px;
	left: 35%;
	top: 300%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.tex26{
	display: none;
}
.bot3:hover .tex26{
	position: absolute;
	font-size: 30px;
	left: 35%;
	top: 360%;
	color: #000000;
	font-family: buenas;
	text-shadow: 3px 3px rgb(255,255,255);
	display: block;
}
.ima4{
	position: absolute;
	top: 20%;
	left: 45%;
	width: 40%;
	height: 60%;
}
@font-face{
	font-family: buenas;
	src:url("../Fuentes/letra.otf");
}